services: 

############
# File Browser
############
  
  filebrowser:
    image: hurlenko/filebrowser
    user: "{{ nas.puid }}:{{ nas.pgid }}"
    volumes:
      - "{{ fake.docker_dir }}:/data"
      - "{{ fake.docker_dir }}/filebrowser:/config"
    environment:
      - FB_BASEURL=/filebrowser
    ports:
      - 4096:8080

############
# Calibre-Web Automated
############

  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web-automated
    environment:
      - "PUID={{ nas.puid }}"
      - "PGID={{ nas.pgid }}"
      - "TZ={{ timezone }}" 
    volumes:
      - "{{ fake.docker_dir }}/calibre-web/config:/config"
      - "{{ fake.nas_mount }}/books/librairy:/calibre-library"
      - "{{ fake.nas_mount }}/books/downloads:/cwa-book-ingest"
    restart: unless-stopped
    ports:
      - 8083:80

  calibre-web-automated-2:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web-automated-2
    environment:
      - "PUID={{ nas.puid }}"
      - "PGID={{ nas.pgid }}"
      - "TZ={{ timezone }}" 
    volumes:
      - "{{ fake.docker_dir }}/calibre-web-2/config:/config"
      - "{{ fake.nas_mount }}/books-maman/librairy:/calibre-library"
      - "{{ fake.nas_mount }}/books-maman/downloads:/cwa-book-ingest"
    restart: unless-stopped
    ports:
      - 8084:8083

############
# Tailscale Funnel Sidecar
############

 # tailscale funnel --bg 8083
  tailscale:
     image: tailscale/tailscale
     container_name: tailscale
     hostname: calibre-tailscale
     cap_add:
       - NET_ADMIN
       - NET_RAW
     network_mode: "host"
     volumes:
       - /dev/net/tun:/dev/net/tun
       - "{{ fake.docker_dir }}/tailscale:/var/lib/tailscale"
     environment:
       - TS_AUTHKEY={{ tailscale_key }}
       - TS_ROUTES=  # leave empty if you just want Funnel
       - TS_SERVE_CONFIG=/var/lib/tailscale/serve.json
       - TS_STATE_DIR=/var/lib/tailscale
     restart: unless-stopped

############
# Jellyfin
############

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    group_add:
      - "{{ fake.igpu_group }}"
    ports:
      - 8096:8096
    volumes:
      - "{{ fake.docker_dir }}/jellyfin/config:/config"
      - "{{ fake.docker_dir }}/jellyfin/cache:/cache"
      - "{{ fake.nas_mount }}/media:/media"
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

############
# Tdarr
############

  # tdarr:
  #   container_name: tdarr
  #   image: ghcr.io/haveagitgat/tdarr:latest
  #   ports:
  #     - 8265:8265 # webUI port
  #     - 8266:8266 # server port
  #   group_add:
  #     - "{{ fake.igpu_group }}"
  #   environment:
  #     - TZ={{ timezone }}
  #     - PUID={{ nas.puid}}
  #     - PGID={{ nas.pgid }}
  #     - UMASK_SET=002
  #     - serverIP=0.0.0.0
  #     - serverPort=8266
  #     - webUIPort=8265
  #     - internalNode=true
  #     - inContainer=true
  #     - ffmpegVersion=7
  #     - nodeName=FakeNasNode
  #     - auth=false
  #     - openBrowser=true
  #     - maxLogSizeMB=10
  #     - cronPluginUpdate=
  #   volumes:
  #     - "{{ fake.docker_dir }}/tdarr/servers:/app/server"
  #     - "{{ fake.docker_dir }}/tdarr/configs:/app/configs"
  #     - "{{ fake.docker_dir }}/tdarr/logs:/app/logs"
  #     - "{{ fake.nas_mount }}/media:/media"
  #     - "{{ fake.nas_mount }}/transcode_cache:/temp"
  #   devices:
  #     - /dev/dri:/dev/dri
  #   restart: unless-stopped

############
# Paperless-ngx
############

  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    networks:
      - paperless
    volumes:
      - "{{ fake.docker_dir }}/paperless/redisdata:/data"

  paperless-db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    networks:
      - paperless
    volumes:
      - "{{ fake.docker_dir }}/paperless/pgdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: "{{ paperless.db }}"
      POSTGRES_USER: "{{ paperless.db_user }}"
      POSTGRES_PASSWORD: "{{ paperless.db_pass }}"

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    networks:
      - paperless
    depends_on:
      - paperless-db
      - broker
      - gotenberg
      - tika
    ports:
      - "8000:8000"
    volumes:
      - "{{ fake.docker_dir }}/paperless/data:/usr/src/paperless/data"
      - "{{ fake.nas_mount }}/document/paperless:/usr/src/paperless/media"
      - "{{ fake.docker_dir }}/paperless/export:/usr/src/paperless/export"
      - "{{ fake.docker_dir }}/paperless/consume:/usr/src/paperless/consume"
    environment:
      COMPOSE_PROJECT_NAME: "{{ paperless.project_name }}"
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: paperless-db
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998
      PAPERLESS_ADMIN_USER: "{{ paperless.user }}"
      PAPERLESS_ADMIN_PASSWORD: "{{ paperless.pass }}"
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS: '{"openid_connect":{"SCOPE":["openid","profile","email"],"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"pocket-id","name":"Pocket-ID","client_id":"{{ paperless.sso_client_id }}","secret":"{{ paperless.sso_client_id_secret }}","settings":{"server_url":"https://pocket-id.{{ swarm.domain }}"}}]}}'
      PAPERLESS_ACCOUNT_DEFAULT_HTTP_PROTOCOL: http
      PAPERLESS_SECURE_PROXY_SSL_HEADER: false
      PAPERLESS_USE_X_FORWARDED_HOST: true
      PAPERLESS_CSRF_COOKIE_SECURE: false
      PAPERLESS_SESSION_COOKIE_SECURE: false

  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.20
    restart: unless-stopped
    networks:
      - paperless
    # The gotenberg chromium route is used to convert .eml files. We do not
    # want to allow external content like tracking pixels or even javascript.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"

  tika:
    image: docker.io/apache/tika:latest
    restart: unless-stopped
    networks:
      - paperless

networks:
  paperless:
