---
username: susu
timezone: Europe/Brussels
local_domain: home

############
# packages
############

extra_packages:
  - sshpass
  - neofetch
  - git
  - nano 
  - vim
  - btop
  - cifs-utils
  - python3-jsondiff

############
# NAS
############

nas:
  share: //192.168.129.45/Tristan/mac-mini
  mount: /mnt/nas
  puid: 1000
  pgid: 1000

mount_nas: true

############
# fake nas
############

fake:
  docker_dir: /docker
  nas_mount: /media
  igpu_group: 107

############
# docker swarm
############

swarm:
  advertise_addr: 192.168.129.111:2377
  docker_dir: /mnt/glusterfs/swarm
  # domain: autostack.duckdns.org
  domain: autostack.ovh
  cert_resolver: ovh

  docker_networks:
    - proxy_network
    - monitoring

  stacks: 
    - name: network
      compose: network.yaml.j2
      volumes:
        - traefik
        - homepage
        - pocket-id
        - speedtest-tracker
      config:
        - file: traefik.yaml
          dst: traefik/traefik.yaml
        - file: homepage/settings.yaml
          dst: homepage/settings.yaml
        - file: homepage/services.yaml
          dst: homepage/services.yaml       
        - file: homepage/bookmarks.yaml
          dst: homepage/bookmarks.yaml          
        - file: homepage/widgets.yaml
          dst: homepage/widgets.yaml     
    - name: system
      volumes:
        - portainer
        - filebrowser
    - name: monitoring
      volumes:
        - prometheus/config
        - prometheus/metrics
        - grafana/data
        - grafana/config
      config:
        - file: prometheus.yaml.j2
          dst: prometheus/config/prometheus.yml
    - name: tools
      volumes:
        - convertx-data
    - name: media
      volumes:
        - prowlarr
        - custom-indexers
        - jellyseer
        - sonarr
        - radarr
        - bazarr
        - qbittorrent
      config:
        - file: ygg-cookie.yml
          dst: custom-indexers/ygg-cookie.yml
        # - file: lacale-api.yml
        #   dst: custom-indexers/lacale-api.yml
    - name: budget
      volumes:
        - actual-budget
    - name: meal
      volumes:
        - mealie
        - mealie-pgdata
############
# glusterfs
############

gluster:
  brick_dir: /gluster/swarm_vol
  volume_name: swarm_vol
  mount_dir: /mnt/glusterfs
  gluster_alias: glusterfs
