---

hostname: Node2
uid: 1000
gid: 1002

tailscale_ip: 100.77.110.73

#######################
# Docker
#######################

docker: 
  docker_dir: "/docker"
  domain: dev.autostack.ovh
  cert_resolver: "ovh"
  docker_networks:
    - proxy_network
  composes: 
    - name: traefik
      compose: network.yaml
      volumes:
        - letsencrypt
      config:
        - file: traefik.yaml
          dst: letsencrypt/traefik.yaml