---

hostname: Node1
uid: 1000
gid: 1002

tailscale_ip: 100.77.110.73

#######################
# Docker
#######################

docker: 
  docker_dir: "/docker"
  domain: dev.autostack.ovh
  cert_resolver: "ovh"
  docker_networks:
    - proxy_network
  composes: 
    - name: traefik
      compose: network.yaml
      volumes:
        - letsencrypt
      config:
        - file: traefik.yaml
          dst: letsencrypt/traefik.yaml
    - name: automation
      compose: automation.yaml
      volumes:
        - n8n 
      # config:
      #   - file: n8n.yaml
    - name: monitoring
      compose: monitoring.yaml
      volumes:
        - monitoring/prometheus
        - monitoring/prometheus_data
        - loki
      config:
        - file: prometheus.yaml.j2
          dst: monitoring/prometheus/prometheus.yml
        - file: loki.yaml
          dst: loki/local-config.yaml
