---
- name: Install Docker SDK for Python (Debian/Ubuntu)
  apt:
    name: python3-docker
    state: present
  become: true

- name: install dependency
  apt:
    name: "{{item}}"
    state: present
    update_cache: yes
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common

- name: add GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: add docker repository to apt
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: install docker
  apt:
    name: "{{item}}"
    state: latest
    update_cache: yes
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io

- name: adding existing user '{{ ansible_ssh_user }}' to group docker 
  user:
    name: '{{ ansible_ssh_user }}'
    groups: docker 
    append: yes

- name: Prune unused Docker data
  community.docker.docker_prune:
    containers: true
    images: true
    volumes: true
    builder_cache_all: true
  when: swarm.prune_docker | default(true)
