---
- name: Copy the public SSH key 
  authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

- name: add {{ username }} to the admin group
  user:
    name: "{{ username }}"
    group: admin
