---
- name: Directory for Docker volumes
  block : 
    - name: Check if volume directories exist
      ansible.builtin.stat:
        path: "{{ docker.docker_dir }}/volumes/{{ item }}"
      loop: "{{ compose.volumes }}"
      register: volume_stats

    - name: Create folder if it doesn't exist
      ansible.builtin.file:
        path: "{{ docker.docker_dir }}/volumes/{{ item.item }}"
        state: directory
        owner: "{{ username }}"
        group: "{{ username }}"
        mode: '0755'
      loop: "{{ volume_stats.results }}"
      when: not item.stat.exists 
      become: false
  when: compose.volumes is defined

- name: Copy config files for the compose 
  template:
    src: "templates/config/{{ item.file }}"
    dest: "{{ docker.docker_dir }}/volumes/{{ item.dst }}"
    force: "{{ item.force | default(true) }}"
  loop: "{{ compose.config }}"
  when: compose.config is defined
