---
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'speedtest-tracker'
    scrape_interval: 15m 
    scrape_timeout: 10s
    metrics_path: /prometheus
    static_configs:
      - targets: ['speedtest-tracker']

  - job_name: 'node_exporter'
    static_configs:
{% for host in groups['Swarm'] %}
      - targets: ['{{ hostvars[host].target_ip }}:9100']
        labels:
          node: '{{ hostvars[host].host_name }}'
{% endfor %}

  - job_name: 'cadvisor'
    static_configs:
      - targets:
{% for host in groups['Swarm'] %}
      - targets: ['{{ hostvars[host].target_ip }}:8080']
        labels:
          node: '{{ hostvars[host].host_name }}'
{% endfor %}
