services:

  actual-budget:
    image: actualbudget/actual-server:latest
    environment:
      - ACTUAL_PORT=5006
      - ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=20
      - ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=50
      - ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=20
      - ACTUAL_OPENID_DISCOVERY_URL=https://pocket-id.{{ swarm.domain }}/.well-known/openid-configuration
      - ACTUAL_OPENID_CLIENT_ID={{ actual_budget.client_id }}
      - ACTUAL_OPENID_CLIENT_SECRET={{ actual_budget.client_secret }}
      - ACTUAL_OPENID_SERVER_HOSTNAME=https://actual-budget.{{ swarm.domain }}
    volumes:
      - gfs_actual-budget:/data
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=proxy_network" 
        - "traefik.http.services.actual-budget.loadbalancer.server.port=5006"
        - "traefik.http.routers.actual-budget.rule=Host(`actual-budget.{{ swarm.domain }}`)"
        - "traefik.http.routers.actual-budget.entrypoints=web"
        - "traefik.http.routers.actual-budget.entrypoints=websecure"

networks:
  proxy_network:
      external: true

volumes:
  gfs_actual-budget:
    driver: "{{ gluster.gluster_alias }}"
    name: "{{ gluster.volume_name }}/swarm/actual-budget"