services:

  traefik:
    image: traefik:latest
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    command:
      - "--configFile=/letsencrypt/traefik.yaml"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "gfs_traefik:/letsencrypt"
    networks:
      - proxy_network
    environment:
      - DUCKDNS_TOKEN={{ duckdns_token }}
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.dummy-svc.loadbalancer.server.port=9999"
        # Public dashboard route (protected)
        - "traefik.http.routers.traefik.rule=Host(`traefik.{{ swarm.domain }}`)"
        - "traefik.http.routers.traefik.entrypoints=websecure"
        - "traefik.http.routers.traefik.service=api@internal"
        - "traefik.http.routers.traefik.middlewares=tinyauth-network"

        # Internal service for API (unprotected, only for the internal network)
        - "traefik.http.routers.api-internal.rule=PathPrefix(`/api`)"
        - "traefik.http.routers.api-internal.entrypoints=internal"
        - "traefik.http.routers.api-internal.service=api@internal"

  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1
    restart: unless-stopped
    environment: 
      - APP_URL=https://pocket-id.{{ swarm.domain }}
      - TRUST_PROXY=true
      - MAXMIND_LICENSE_KEY=
      - PUID={{ nas.puid }}
      - PGID={{ nas.pgid }}
    volumes:
      - gfs_pocket_id:/app/data
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=proxy_network" 
        - "traefik.http.services.pocket-id.loadbalancer.server.port=1411"
        - "traefik.http.routers.pocket-id.rule=Host(`pocket-id.{{ swarm.domain }}`)"
        - "traefik.http.routers.pocket-id.entrypoints=web"
        - "traefik.http.routers.pocket-id.entrypoints=websecure"

  whoami:
    image: "traefik/whoami"
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=proxy_network" 
        - "traefik.http.services.whoami.loadbalancer.server.port=80"
        - "traefik.http.routers.whoami.rule=Host(`whoami.{{ swarm.domain }}`)"
        - "traefik.http.routers.whoami.entrypoints=web"
        - "traefik.http.routers.whoami.entrypoints=websecure"
        - "traefik.http.routers.whoami.middlewares=tinyauth-network"

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    volumes:
      - gfs_homepage:/app/config 
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "homepage.{{ swarm.domain }}"
      PUID: "{{ nas.puid }}"
      PGID: "{{ nas.pgid }}"
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=proxy_network" 
        - "traefik.http.services.homepage.loadbalancer.server.port=3000"
        - "traefik.http.routers.homepage.rule=Host(`homepage.{{ swarm.domain }}`)"
        - "traefik.http.routers.homepage.entrypoints=web"
        - "traefik.http.routers.homepage.entrypoints=websecure"
      
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    environment:
        - PUID={{ nas.puid }}
        - PGID={{ nas.pgid }}
        # echo -n 'base64:'; openssl rand -base64 32;
        - APP_KEY={{ secret_64 }}
        - DB_CONNECTION=sqlite
        - DISPLAY_TIMEZONE={{ timezone }}
        - SPEEDTEST_SCHEDULE=*/15 * * * *
        - SPEEDTEST_SERVER={{ speedtest_tracker.servers | default('') }}
        - CHART_DATETIME_FORMAT=j/m G:i
        - DATETIME_FORMAT=j M Y, G:i:s
        - PUBLIC_DASHBOARD=true
    volumes:
        - gfs_speedtest_tracker:/config
    networks:
      - proxy_network
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.swarm.network=proxy_network" 
        - "traefik.http.services.speedtest-tracker.loadbalancer.server.port=80"
        - "traefik.http.routers.speedtest-tracker.rule=Host(`speedtest.{{ swarm.domain }}`)"
        - "traefik.http.routers.speedtest-tracker.entrypoints=web"
        - "traefik.http.routers.speedtest-tracker.entrypoints=websecure"
        - "traefik.http.routers.speedtest-tracker.middlewares=tinyauth-network"

################
# TinyAuth middlewares
################

{% for item in tinyauth_groups %}
  tinyauth-{{ item.name }}:
    image: ghcr.io/steveiliop56/tinyauth
    networks:
      - proxy_network
    environment:
      - SECRET={{ item.secret }}
      - APP_URL=https://auth-{{ item.name }}.{{ swarm.domain }}
      - APP_TITLE=TinyAuth - {{ item.name }}
      - GENERIC_CLIENT_ID={{ item.sso_client_id }}
      - GENERIC_CLIENT_SECRET={{ item.sso_client_id_secret }}
      - GENERIC_AUTH_URL=https://pocket-id.{{ swarm.domain }}/authorize
      - GENERIC_TOKEN_URL=https://pocket-id.{{ swarm.domain }}/api/oidc/token
      - GENERIC_USER_URL=https://pocket-id.{{ swarm.domain }}/api/oidc/userinfo
      - GENERIC_SCOPES=openid email profile groups
      - GENERIC_NAME=Pocket ID

      - OAUTH_AUTO_REDIRECT=generic
      - DISABLE_CONTINUE=true
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.tinyauth-{{ item.name }}.rule=Host(`auth-{{ item.name }}.{{ swarm.domain }}`)"
        - "traefik.http.routers.tinyauth-{{ item.name }}.entrypoints=websecure"
        - "traefik.http.services.tinyauth-{{ item.name }}.loadbalancer.server.port=3000"
        - "traefik.http.middlewares.tinyauth-{{ item.name }}.forwardauth.address=http://tinyauth-{{ item.name }}:3000/api/auth/traefik"
{% endfor %}


networks:
  proxy_network:
      external: true

volumes:
  gfs_traefik:
    driver: "{{ gluster.gluster_alias }}"
    name: "{{ gluster.volume_name }}/swarm/traefik"

  gfs_pocket_id:
    driver: "{{ gluster.gluster_alias }}"
    name: "{{ gluster.volume_name }}/swarm/pocket-id"

  gfs_homepage:
    driver: "{{ gluster.gluster_alias }}"
    name: "{{ gluster.volume_name }}/swarm/homepage"

  gfs_speedtest_tracker:
    driver: "{{ gluster.gluster_alias }}"
    name: "{{ gluster.volume_name }}/swarm/speedtest-tracker"
